.invalid-feedback {
    width: 100%;
    margin-top: 0;
    font-size: 12px;
    color: #dc2626;
}
.modal {

}
.float-left {float: left!important;}
.float-right {float: right!important;}
.download-data-gus {
    background: transparent;
    border: 0;
    color: #4c78dd;
    text-transform: lowercase;
    font-size: 14px;
}
.form-admin-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #334155;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.text-right {text-align: right!important;}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #dfe3ea!important;
    height: 38px!important;
}
._mr-10 {
    margin-right: 10px;
}
.w-150 {
    width: 150px;
}
.multiselect__tags {min-height: 37px!important;}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {min-height: 250px!important;}
.small-no-item {
    font-size: 12px;
    color: red;
}
.btn-link {
    border: 0;
    background: 0;
    font-weight: bold;
}
button.close {
    background: transparent;
    border: 0;
    font-size: 25px;
    margin-top: -3px;
}
.ordering {
    float: right;
    display: inline-block;
    position: relative;
}
.ordering:hover {
    cursor: pointer;
}
.question {
    font-size: 20px;
    font-weight: 600;
    color: #334155;
    margin-bottom: 10px;
    margin-top: 30px;
}
